name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl: ["5.30", "5.32", "5.34", "5.36", "5.38"]
    steps:
      - uses: actions/checkout@v4

      - name: Setup Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}

      - name: Install deps
        run: |
          cpanm -n --installdeps .
          perl Makefile.PL

      - name: Run tests
        run: |
          make test

